<footer>
  <div class="container text-center">
    <hr />
    <ul class="list-inline">
      <li><a class="back-button icon-arrow-left" href="{{@blog.url}}">Home</a></li>
      <li>Blog</li>
      <li>About Us</li>
      <li><a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a></li>

      <li><i class="fa fa-angle-up fa-lg"></i>
      </li>
    </ul>
    <p>© 2014 / Chromeism</p>
  </div>
</footer>

<!-- Jquery and Bootstrap Script files -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>

</html>
