<footer>
  <div class="container text-center">
    <hr />
    <ul class="list-inline">
      <li><a href="{{@blog.url}}">Home</a></li>
      <li><a href="{{@blog.url}}/about">About Me</li>
      <li><a href="{{@blog.url}}/rss/">Subscribe</a></li>
      </li>
    </ul>
    <p>© 2014 / Chromeism</p>
    <p>Ghost theme inspired by <a href="https://github.com/roryg/ghostwriter">Ghostwriter</a></p>
  </div>
</footer>

<!-- Jquery and Bootstrap Script files -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>

</html>
