{{> header }}
<div id="body" class="container">
  <div class="main-block center-block">
    <article>
      <hr>
      {{> loop }}
    </article>
    <!-- pager -->
    {{!-- <ul class="pager">
      <li class="previous">
        <a href="#">← Older</a>
      </li>
      <li class="next">
        <a href="#">Newer →</a>
      </li>
    </ul> --}}
  </div>
</div>
{{> footer }}
